
@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body, html {
  font-family: "Inter", sans-serif;
}

.logo {
  width: 46px;
  height: 46px;
}

.logo-islam {
  width: 170px;
  height: 46px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}


.range-input[type="range"] {
  -webkit-appearance: none; /* Убирает стандартный стиль браузера */
  border-radius: 5px;
  outline: none;
  transition: 4s ease-in;
}

.range-input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px; /* Диаметр кружочка */
  height: 20px;
  border-radius: 50%; /* Закругляем, чтобы получился кружок */
  border: #fdd400 solid 10px;
  padding: 5px;
  background: #fff;
  cursor: pointer; /* Указатель мыши */
}

.range-input[type="range"]::-moz-range-thumb {
  width: 20px; /* Диаметр кружочка */
  height: 20px;
  border-radius: 50%; /* Закругляем, чтобы получился кружок */
  border: #fdd400 solid 10px;
  padding: 5px;
  background: #fff;
  cursor: pointer; /* Указатель мыши */
}

video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

  -webkit-object-fit: cover;       /* Safari */
  -moz-object-fit: cover;          /* Firefox */
  -webkit-object-position: center; /* Safari */
  -moz-object-position: center;    /* Firefox */
  
  background-size: cover;
  background-position: center;
  pointer-events: none;
}


.custom-checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  appearance: none; /* отключаем стандартную галочку */
  cursor: pointer;
}

.custom-checkbox:checked + .custom-checkbox-mark {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.custom-checkbox-mark {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.disabled-bg {
  background: linear-gradient(45deg, #fdd400 25%, transparent 0, transparent 50%, #fdd400 0, #fdd400 75%, transparent 0);
  background-size: 8px 8px;
}

.circle-container {
  overflow: hidden;
  position: relative;
}

.parallax-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease-out;
}

